<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required for Google Maps -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".CampusRideApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusRide">
        
        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyANHE9sVJ1ksZh581am0KuNa5D5TBacYdk" />
        
        <!-- Google Places API Key -->
        <meta-data
            android:name="com.google.android.geo.PLACES_API_KEY"
            android:value="AIzaSyANHE9sVJ1ksZh581am0KuNa5D5TBacYdk" />
        
        <!-- Activities -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".OTPVerificationActivity" />
        <activity android:name=".ProfileCompletionActivity" />
        <activity android:name=".UserDetailActivity" />
        <activity android:name=".PostRideRequestActivity" />
        <activity android:name=".BrowseRideRequestsActivity" />
        <activity android:name=".MyRideRequestsActivity" />
        <activity android:name=".DriverRideRequestDetailsActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RideCreationActivity" />
        <activity android:name=".RideSearchActivity" />
        <activity android:name=".RideRequestsActivity" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".RideHistoryActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".PassengerRideRequestsActivity" />
        <activity android:name=".FirebaseTestActivity" />
        <activity android:name=".DriverDashboardActivity" />
        <activity android:name=".MyAcceptedRidesActivity" />
    </application>

</manifest>