*.iml
.gradle
/local.properties
/.idea
.gradle/
/build/
.cxx/
.cmake/
.externalNativeBuild
cxx/
*.swp
.DS_Store
captures/
*.log
.~lock.
settings/
settings.json
cache/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tar
*.zip
*.gz
*.7z
*.rar
*.7z
*.dmg
*.iso
*.bin
*.exe
*.msi
*.deb
*.rpm
*.apk
*.aab
*.aab
*.aar
*.jar
*.class
*.o
*.so
*.dylib
*.dll
*.obj
*.lib
*.pdb
*.ipch
*.ilk
*.exp
*.idb
*.iobj
*.ipdb
*.un~
